doctype html
html(lang = 'en')
  head
    title Lists
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet',href='/styles/style.css', type='text/css')
    link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet")
  body
    header(role='banner')
      h1.spaceAbove.center.smallSpaceBelow #{list.title.replace('/','').replace('-',' ')} list:
      div.list-container
        each listitem, i in list.listitems
          div.listItem.spaceBelow
            h3.center #{listitem + ' ' + list.listitems.indexOf(listitem)}
            button.check-item-button Check Off
        form.spaceAbove.center.additem-form(action='/additem/' + list.id, method='POST')
          input.additem-input.smallSpaceBelow(required name='listitem',placeholder='Add Item...')
          br
          button.additem-button Add Item
        form.smallSpaceAbove.center.reset-list-form(action='/resetlist/'+list.id method='POST')
          button Reset List


script( src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script.
    $('.additem-input').focus();
    $('.list-container').on('click','.check-item-button', (event) => {
      console.log('checked');
      console.log(event.target);
      $(event.target).siblings('h3').toggleClass('checked');
    });