/* Global Resets */
* {
  padding:0;
  margin:0;
  box-sizing:border-box;
}


/* Global CSS */

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color:#f2f2f2;
}

/* Buttons */



/* Spacing */

.smallSpaceAbove {
  margin-top:1em;
}

.spaceAbove {
  margin-top:3em;
}

.largeSpaceAbove {
  margin-top:6em;
}

.smallSpaceBelow {
  margin-bottom:1em;
}

.spaceBelow {
  margin-bottom:3em;
}

.largeSpaceBelow {
  margin-bottom:6em;
}

/* Centering */

.center {
  text-align:center;
}

.centerBlock {
  display:block;
  margin:0 auto;
}

/* Header CSS */

header {
  padding:1em;
  background-color:#0c4db5;
  height:7em;
  color:white;
}

.headerBar {
  display:block;
  height:2em;
  width:100%;
  color:black;
}


/* chatroom CSS */

.dialogueCont {
  background-color:white;
  min-height:2em;
  width:90%;
  margin: 0 auto;
  border-radius:4px;
}


.filler {
  padding:10px;
}

.messageCont {
  display:flex;
}

.submitMessageCont {
  display:flex;
  justify-content:center;
}

.submit {
  background-color:#0fa00c;
  border:none;
  padding:10px;
  width:8em;
  border-radius:4px;
  color:white;
  font-weight:bold;
}


.submit-message-input {
  margin-left:1em;
  width:70%;
  overflow:hidden;
}

.provide-username-popup {
  /* background-color:black; */
  height:2em;

}